.inte-Fallback>.inte-card {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.inte-Fallback--illustration>svg {
    width: 22rem;
    display: block;
    margin: 0px auto;
}

.inte-Fallback--action {
    margin-top: 1.6rem;
}

.inte-Fallback--illustration {
    margin-bottom: 2rem;
}

.inte-Fallback--FullPage {
    height: calc(100vh - 115px);
    display: table;
    width: 100%;
}
.inte-Fallback--FullPage .inte-Fallback--inner {
    display: table-cell;
    vertical-align: middle;
}
@media screen and (max-width:768px) {
    .inte-Fallback--illustration>svg {
        width: 15rem;
        height: auto;
    }
}