.inte__AutoComplete h3 {
  cursor: pointer;
}
.inte__AutoComplete {
  position: relative;
}
.inte__AutoComplete ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 0;
  left: 0;
  min-width: 17rem;
  background-color: var(--inte-G0);
  font-weight: var(--weight-bold);
  position: absolute;
  border-radius: var(--radius-rounded-4);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  max-height: 250px;
  overflow: auto;
  overflow-x: hidden;
  right: 0;
  padding: 0.8rem;
  top: 4.7rem;
}
.inte__AutoComplete--hasName.inte__AutoComplete ul{
  top: 7.5rem;
}
.inte__AutoComplete .inte--Textfield__thick ~ ul{
  top: 4.5rem;
}
.inte__AutoComplete .inte--Textfield__thin ~ ul{
  top: 4rem;
}
.inte__AutoComplete.inte__AutoComplete--hasName .inte--Textfield__thick ~ ul {
  top: 7.5rem;
}
.inte__AutoComplete.inte__AutoComplete--hasName .inte--Textfield__thin ~ ul {
  top: 7rem;
}
.inte-popover-container.inte-popover-container--Empty {
  padding: 1.2rem;
}
.inte__AutoComplete .inte-form__itemHelp ~ ul {
  top: calc(100% - 18px);
}
.inte__AutoComplete li a {
  color: #000;
  text-decoration: none;
}
.inte__AutoComplete li {
  font-size: 1.4rem;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: var(--radius-rounded-4);
  position: relative;
}
.inte__AutoComplete li:hover {
  background-color: var(--inte-G30);
}
.inte__AutoComplete .inte-loading {
  display: none;
}
/* .inte__AutoComplete--HasPopover ul.inte-popover-container {
  max-height: unset;
  overflow:visible;
} */
.inte-AutoComplete--Popover {
  position: absolute;
  min-width: 20rem;
  max-width: 35rem;
  width: 100%;
  z-index: 99999;
  max-height: 30rem;
  overflow: auto;
}
.inte-AutoComplete--Popover.autocomplete-right{
  padding-left: 5px;
}
.inte-AutoComplete--Popover .inte-AutoComplet--Popover-Inner{
    padding: 1.2rem;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    border: 0.1rem solid var(--inte-G0);
    background: var(--inte-G0);
    border-radius: var(--radius-rounded-4);
}
.inte__AutoComplete-Positionright .inte-AutoComplete--Popover {
  left: 100%;
  top: 0;
}
.inte__AutoComplete-Positionleft .inte-AutoComplete--Popover{
  right: 100%;
  top: 0;
}
.inte__AutoComplete-Positiontop .inte-AutoComplete--Popover {
  right: 0;
  top: -100%;
  transform: translateY(-87%);
  -webkit-transform: translateY(-87%);
}
.inte__AutoComplete-Positionbottom .inte-AutoComplete--Popover{
  right: 0;
  top: 100%;
}

