.inte-upload-InputBox {
    display: none;
}

.inte-upload-btn {
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: var(--inte-P900);
    cursor: pointer;
}

.inte--upload__btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inte--upload__card {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border: 0.1rem solid silver;
    padding: 0.5rem;
}