.inte-Loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  flex-direction: column;
  gap: 1.6rem;
}
.inte-Loader--Items {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
#Rectangle {
  -webkit-animation: 1.2s colorchange ease-in-out infinite;
  animation: 1.2s colorchange ease-in-out infinite;
}
#Polygon {
  -webkit-animation: 1.2s colorchange ease-in-out infinite 0.15555s;
  animation: 1.2s colorchange ease-in-out infinite 0.15555s;
}
#Ellipse {
  -webkit-animation: 1.2s colorchange ease-in-out infinite 0.3s;
  animation: 1.2s colorchange ease-in-out infinite 0.3s;
}
@keyframes colorchange {
  0%,
  40%,
  100% {
    fill: #d9d9d9;
  }
  40% {
    fill: #431bbc;
  }
}
@-webkit-keyframes colorchange {
  0%,
  40%,
  100% {
    fill: #d9d9d9;
  }
  40% {
    fill: #431bbc;
  }
}
/*Page Loader*/
.inte-pageLoader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffffe6;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inte-pageLoader .inte-loading {
  border: 2px solid var(--inte-G40);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 2px solid var(--inte-G200);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.inte-loading--Transform {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--inte-G40);
}
.inte-loading--Transform b {
  transform: scaleY(0);
  -webkit-animation: ounce-transform 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
  animation: ounce-transform 1.5s infinite cubic-bezier(0.76, 0, 0.24, 1);
}
.inte-loading--Transform b:nth-child(1) {
  animation-delay: 0s;
}
.inte-loading--Transform b:nth-child(2) {
  animation-delay: 0.15s;
}
.inte-loading--Transform b:nth-child(3) {
  animation-delay: 0.3s;
}
.inte-loading--Transform b:nth-child(4) {
  animation-delay: 0.45s;
}
.inte-loading--Transform b:nth-child(5) {
  animation-delay: 0.6s;
}
.inte-loading--Transform b:nth-child(6) {
  animation-delay: 0.75s;
}
.inte-loading--Transform b:nth-child(7) {
  animation-delay: 0.9s;
}

/* Loader 3 */
.inte-Loader--TypeThree {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffffe6;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inte-Loader--TypeThreeInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  width: 100%;
  padding: 0 1.6rem;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ounce-transform {
  0% {
    transform-origin: 50% 100%;
    transform: scaleY(0);
  }
  25% {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }
  75% {
    transform-origin: 50% 0%;
    transform: scaleY(1);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scaleY(0);
  }
}
@-webkit-keyframes ounce-transform {
  0% {
    transform-origin: 50% 100%;
    transform: scaleY(0);
  }
  25% {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }
  75% {
    transform-origin: 50% 0%;
    transform: scaleY(1);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scaleY(0);
  }
}
/*Page loader end */

@media screen and (max-width:768px){
  .inte-Loader--Icon svg {
    width: 80px;
    height: 80px;
}
}

/* DARK THEME */
[data-theme="dark"] .inte-pageLoader {
  background-color: #333333e6;
}

