/*Badges and Swatches*/
.inte--Badge {
  display: inline-flex;
  align-items: center;
  gap: .4rem;
  text-align: center;
  border-radius: 1.6rem;
  font-weight: var(--weight-normal);
  color: var(--inte-G10);
  transition: 300ms all linear;
}

.inte--Badgedot {
  border-radius: 100%;
}

.inte-badge--hasIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.inte-badge__icon {
  display: flex;
}

.inte--Badge-content {
  display: inline-flex;
}

.inte--Badge-content span {
  font-weight: 400;
  line-height: 2rem;
  display: inline-block;
}

/* badge with helptext */
.inte--Badge--hasHelp .inte--Badge-content .inte__ToolTip-trigger span {
  border-bottom: 0.1rem dotted;
}

/* Size */
.inte--BadgeLarge {
  padding: .4rem 1.6rem;
  font-size: 1.6rem;
  line-height: 20px;
}

.inte--BadgeDotLarge {
  padding: 1.00001px 4.00004px;
  width: 1.2rem;
  height: 1.2rem;

}

.inte--BadgeMedium {
  padding: .2rem 1.0rem;
  font-size: 1.4rem;
  line-height: 17px;
}

.inte--BadgeDotMedium {
  padding: 0.833344px 3.33338px;
  width: 1.0rem;
  height: 1.0rem;
}

.inte--BadgeSmall {
  padding: .2rem .8rem;
  font-size: 1.3rem;
  line-height: 16px;
}

.inte--BadgeDotSmall {
  padding: 0.666672px 2.66669px;
  width: .8rem;
  height: .8rem;
}

/* types */
.inte__BadgePrimary {
  background-color: var(--inte-P900);
}

.inte__BadgeSeconadary {
  background-color: var(--inte-G800);
}

.inte__BadgeSuccess {
  background-color: var(--inte-GR150);
}

.inte__BadgeError {
  background-color: var(--inte-R400);
}

.inte__BadgeWarning {
  background-color: var(--inte-Y600);
}


.inte__accentBadgePrimary {
  color: var(--inte-P900);
  background-color: var(--inte-P30);
}

.inte__accentBadgeSeconadary {
  color: var(--inte-G800);
  background-color: var(--inte-G20);
}

.inte__accentBadgeSuccess {
  color: var(--inte-GR150);
  background-color: var(--inte-GR50);
}

.inte__accentBadgeError {
  color: var(--inte-R400);
  background-color: var(--inte-R40);
}

.inte__accentBadgeWarning {
  color: var(--inte-Y600);
  background-color: var(--inte-Y50);
}

/* only icon */
.inte-badge--onlyIcon.inte--BadgeLarge {
  height: 2.8rem !important;
  width: 2.8rem !important;
  padding: 0px
}

.inte-badge--onlyIcon.inte--BadgeMedium {
  height: 2.6rem !important;
  width: 2.6rem !important;
  padding: 0px
}

.inte-badge--onlyIcon.inte--BadgeSmall {
  height: 2.0rem !important;
  width: 2.0rem !important;
  padding: 0px
}