/*Alerts*/
.inte-Alert {
    padding: 1.6rem;
    border-radius: var(--radius-rounded-4);
    position: relative;
  }
  .inte-Alert__icon svg {
    display: flex;
}
  .inte-Alert +.inte-Alert{
    margin-top: 1.5rem;
  }
  .inte-Alert--Destroy {
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
}
.inte-Alert--Destroy > span {
  transition: 300ms all linear;
  border: 1px solid transparent;
}
.inte-Alert--Destroy > span:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.inte-Alert__hasAction .inte-Alert__content {
  margin-right: 1.2rem;
}
  .inte-Alert__hasAction {
    padding-right: 5.4rem;
  }
  .inte-Alert__content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .inte-Alert__text h3.inte__text--small {
    line-height: 1.4;
}
  .inte-Alert__Icon{
    margin-right: 1.2rem;
    display: flex;
  }
  .inte-Alert__text {
    flex-grow: 1;
    color: var(--form-element-color);
  }
  .inte-Alert__hasIcon .inte-Alert__text {
    padding-left: 1.2rem;
}
.inte-Alert__text h3 {
  color: var(--inte-G800);
}
  .inte-Alert__action {
    margin-top: 2rem;
    text-align: right;
  }
  .inte-Alert--warning {
    background-color: var(--inte-Y50);
    border: 1px solid var(--inte-Y95);
}
.inte-Alert--danger {
  background-color: var(--inte-R30);
  border: 1px solid var(--inte-R80);
}
  .inte-Alert--success {
    background-color: var(--inte-GR40);
    border: 0.1rem solid var(--inte-GR90);
}
  .inte-Alert--info {
    background-color: var(--inte-P30);
    border:0.1rem solid var(--inte-P60)
}
.inte-Alert__CircleIcon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1.6rem;
  box-shadow: 0 0 0 5px rgb(0 0 0 / 8%);
}
.inte-Alert__hasCircleIcon {
  align-items: center;
}
  /*Alerts End*/

/* DARK MODE */
[data-theme="dark"] .inte-Alert {
  filter: brightness(0.8);
}
