.inte-ActionList--Container {
  position: relative;
  display: inline-block;
}
.inte-ActionList--Wrapper {
  top: 4.1rem;
  border-radius: var(--radius-rounded-4);
  background-color: var(--inte-G0);
  width: 25rem;
  position: absolute;
  z-index: 99;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-animation-name: ActionListAnimation;
  animation-name: ActionListAnimation;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transform-origin: top center;
}

.inte-ActionList--Left {
  left: 0;
}
.inte-ActionList--Right {
  right: 0;
}

.inte-ActionList-section-container {
  max-height: 26rem;
  overflow-y: auto;
  margin: 0;
  padding: 1.2rem;
}
.inte-ActionList-group-section + .inte-ActionList-group-section {
  margin-top: 1.6rem;
}
.inte-ActionList__Heading {
  padding: 0 0.4rem 0.8rem 0.4rem;
  margin: 0;
  font-weight: var(--weight-bolder);
  word-break: break-word;
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--inte-G90);
  text-transform: uppercase;
}
.inte-ActionList-group {
  display: flex;
  align-items: flex-start;
  border-radius: var(--radius-rounded-4);
  padding: 1rem 1.6rem;
  transition: 100ms all linear;
}
.inte-ActionList-group:hover {
  cursor: pointer;
  background-color: var(--inte-P20);
}
.inte-ActionList-group:active {
  background-color: var(--inte-P30);
}
.inte-ActionList-group.inte-ActionList--Destrctive .inte-ActionList__Title {
  color: var(--inte-R400);
}
.inte-ActionList-group.inte-ActionList--Destrctive:hover {
  background-color: var(--inte-R30);
}
.inte-ActionList-group.inte-ActionList--Destrctive:active {
  background-color: var(--inte-R40);
}
.inte-ActionList__Content {
  display: flex;
  gap: 0.8rem;
  width: 100%;
}

.inte-ActionList__icon > svg {
  height: 2rem;
  width: 2rem;
  display: block;
}
.inte-ActionList__icon > svg > path {
  stroke: var(--inte-G800);
}
.inte-ActionList__ContentText {
  width: 100%;
}
.inte-ActionList__Content .inte-ActionList__Title,
.inte-ActionList__Content .inte-ActionList__Description {
  font-size: 1.6rem;
  font-weight: var(--weight-normal);
  color: var(--inte-G800);
  line-height: 2.2rem;
}
.inte-ActionList__Content .inte-ActionList__Description {
  color: var(--inte-G200);
  margin-top: 0.4rem !important;
}

/* Animations */
@keyframes ActionListAnimation {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
  }
  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
  }
}
@-webkit-keyframes ActionListAnimation {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
  }
  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
  }
}
