/*Toast*/
.inte-toast--Wrapper {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  z-index: 999999999;
}
.inte__Toast {
    display: inline-flex;
    padding: 1.2rem 1.6rem;
    background-color: var(--inte-G900);
    color:var(--inte-G10);
    box-shadow: 0 0 0 0.1rem rgba(63,63,68,.05),0 0.1rem 0.3rem 0 rgba(63,63,68,.15);
    border-radius: var(--radius-rounded-4);
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    min-width: 20rem;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation-name: toastAnimation;
    animation-name: toastAnimation;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transform-origin: top center;
}
.inte_toastClose path {
	fill: var(--inte-G0);
}
.inte__Toast{
  margin-top: 1.5rem;
}
.inte__Toast--Warning{
  background-color: var(--inte-Y500);
}
.inte__Toast--Error{
  background-color: var(--inte-R400);
}
.inte__Toast--Success{
  background-color: var(--inte-GR400);
}
.inte__Toast p {
  font-size: 1.6rem;
  margin: 0 !important;
  line-height: 1.6;
}
.inte_toastClose {
    margin-left: 1.2rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: var(--radius-rounded-4);
    transition: 300ms all linear;
}
.inte_toastClose:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/*Toast End*/
@media screen and (max-width: 768px) {
  .inte__Toast {
    padding: 1.5rem;
  }
}
@keyframes toastAnimation {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@-webkit-keyframes toastAnimation {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}