/*Collapsible*/
.inte-FilterSheet--BodyAccordion .inte__accordion {
  background-color: unset;
  padding: 0;
}
.inte__accordion--active .inte-FilterSheet--BodyAccordion-Body {
  padding: 0 1.6rem 1.6rem;
}
.inte-FilterSheet--Body .inte__accordionHeader {
  cursor: pointer;
  position: relative;
}
.inte-FilterSheet--Body .inte__accordionHeader .inte-flex__item:nth-child(2) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.inte-FilterSheet--Body .inte__accordionBody {
  height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  transition: all 0.2s ease-out;
  overflow: hidden;
}
.inte-FilterSheet--Body .inte__accordionBody > div {
  margin-top: 1rem;
}
.inte-FilterSheet--Body .inte__accordionBody.inte__accordion--active {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: inherit;
}
.inte-FilterSheet--BodyAccordion + .inte-FilterSheet--BodyAccordion {
  border-top: 0.1rem solid var(--inte-G42);
}
.inte-FilterSheet--BodyAccordion .inte__accordionBody > div {
  padding: 0;
  margin: 0 !important;
}
/*Collapsible end*/

/*Sheet*/
.inte-Filter--Open {
  overflow: hidden;
}
.inte-Filter--Open .inte-select--Fixed {
  /* z-index: 999999 !important; */
}
.inte-FilterSheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--inte-G0);
  box-shadow: 0px 31px 41px 0px #202a3614;
  right: 0;
  z-index: 999999;
  transition: 300ms all ease-in-out;
  display: flex;
  flex-direction: column;
}
.inte_FilterSheetWrapper .inte-Backdrop {
  display: none;
}
.inte_FilterSheetWrapper.inte_sheetActive .inte-Backdrop {
  display: block;
  z-index: 99999;
  backdrop-filter: blur(1px);
}
.inte_sheetActive .inte-FilterSheet {
  transform: translate(0);
}
.inte-FilterSheet--Header {
  width: 100%;
  padding: 1.2rem 1.6rem;
  border-bottom: 0.1rem solid var(--inte-G42);
  box-sizing: border-box;
}
.inte-FilterSheet--Header h3 {
  margin: 0;
  font-weight: var(--weight-bolder) !important;
  color: var(--inte-G800);
}
.inte-FilterSheet--Body {
  width: 100%;
  flex-grow: 1;
  position: relative;
  overflow: auto;
}
.inte-FilterSheet--BodyAccordion-Header span {
  cursor: pointer;
  padding: 1.6rem;
  transition: 100ms all linear;
  display: block;
}
.inte-FilterSheet--Header .inte-btn.inte__plain-btn {
  padding: 0.4rem;
  border: 0;
  min-height: unset;
}
.inte-FilterSheet--Header .inte-btn.inte__plain-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.inte-FilterSheet--BodyAccordion-Header h3 {
  margin: 0;
  color: var(--inte-G800);
}
.inte-FilterSheet--Footer {
  padding: 1.2rem 1.6rem;
  border-top: 0.1rem solid var(--inte-G42);
}
@media screen and (max-width: 768px) {
  .inte-FilterSheet {
    transform: translateY(calc(100% + 2rem));
  }
  .inte__accordion--active .inte-FilterSheet--BodyAccordion-Body {
    padding: 0 1.6rem 1.6rem;
  }
  .inte-FilterSheet--Footer {
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-top: 0.1rem solid var(--inte-G42);
    height: 7rem;
    box-sizing: border-box;
  }
}
/*Sheet End*/
@media screen and (min-width: 768px) {
  .inte-FilterSheet {
    width: 48rem;
    transform: translateX(calc(100% + 2rem));
  }
}
@media screen and (max-width: 767px) {
  .inte-Filter .inte-btn__icon + span.inte__text {
    display: none;
  }
}
/* DARK THEME */
[data-theme="dark"] .inte-FilterSheet--BodyAccordion-Header:hover,
[data-theme="dark"]
  .inte-FilterSheet--BodyAccordion-Header.inte-FilterSheet--BodyAccordion-HeaderActive {
  background-color: var(--btn-grey) !important;
}
