:root {
  --grey : #ECEDEE;
}

.inte-Grid--wrapper {
  overflow: auto;
  box-sizing: border-box;
  border: 0.1rem solid var(--grey);
  background: var(--inte-G0);
  font-family: 'Inter';
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2rem;
}

.inte-Grid {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}

.inte-Grid__Cell {
  font-family: 'Inter';
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  z-index:0.1;
  padding: 0.8rem;
  background: var(--inte-G0);
}

.inte-Grid__Cell--Fixedleft , .inte-Grid__Cell--Fixedright {
  z-index:2;
}

.shadowedLeft::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -0.1rem;
  width: 0.5rem;
  transform: translateX(100%);
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
  box-shadow: inset 10px 0 8px -8px rgb(0 0 0 / 15%);
}

.shadowedRight::after {
  position: absolute;
  top: 0;
  bottom: -0.1rem;
  left: 0.2rem;
  width: 0.5rem;
  transform: translateX(-100%);
  transition: box-shadow 0.3s;
  content: '';
  pointer-events: none;
  box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
}

.inte-Grid__Cell--Expand {
  cursor: pointer;
}

.inte-Grid__Cell--Expand-spaced {
  cursor:alias;
}

.extra  input {
  padding: 0 !important;
}

.inte-Grid__Row--Fixed {
  padding: 1.6rem;
}

.inte-Grid__Row--Fixed {
  margin: 0 -10px;
}

.inte-Grid__Row:hover > .inte-Grid__Cell {
  background-color: rgb(243, 243, 243);
}

.inte-Grid__Row--Selected > .inte-Grid__Cell {
  background-color: rgb(197, 199, 201) !important;
}
  
