.inte-Grid--wrapper {
    overflow: auto;
    position: relative;
    border: 1px solid #D7D9DB;
    background: #fff;
  }
  
  .inte-Grid {
    width: 100%;
    text-align: left;
    font-family: inter;
    font-size: 14px;
    line-height: 20px;
    border-collapse: collapse;
  }
  
  .inte-Grid__Header .inte-Grid__Cell{
    font-weight: 600;
  }
  
  .inte-Grid__Cell {
    padding: 16px;
    border-bottom: 1px solid #D7D9DB;
    z-index: 1;
  }
  
  .inte-Grid--HeaderFixed tr {
    position: sticky;
    z-index:999;
    background: #fff;
    top:0;
  }

  .inte-Grid--HeaderFixed tr::after {
    content: '';
    position: absolute;
    top:auto;
    right:0;
    bottom: 0px;
    z-index: 999;
    width: 100%;
    height: 2px;
    box-shadow:inset 0px 2px 5px black;
  }

  .inte-Grid__Cell--Fixedright {
    position: sticky;
    right:0px;
    z-index:2;
    background: #fff;
  }

  .inte-Grid__Cell--Fixedleft {
    box-shadow: inset 0 0 0 #f1f1f1;
    position: sticky;
    left:0px;
    z-index: 2;
    background: #fff;
  }

  .inte-Grid__Cell--Fixedleft::after , .inte-Grid__Cell--Fixedright::after  {
    content: '';
    box-shadow: rgb(0 0 0 / 19%) 5px 0px 15px;
    height: 100%;
    right: 0;
    width: 100%;
    z-index: 2;
    top:0;
    position: absolute
  }