/*LR layout*/
.inte__lr-Layout {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
  }
  .inte__lr-Layout + .inte__lr-Layout {
	border-top: .1rem solid var(--inte-G42);
	padding-top: 2.4rem;
	margin-top: 2.4rem;
  }
  .inte__lr--align-center{
	align-items: center;
  }
  .inte__l-Layout {
	max-width: 40%;
	flex-grow: 1;
	padding: 0 2.0rem 0 0;
  }
  .inte__l-Layout--Content {
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
}
  .inte__lr-full {
	flex-grow: 1;
	min-width: 100%;
	margin-bottom: 3.0rem;
  }
  .inte__l-title {
    font-size: 1.6rem;
    color: var(--inte-G800);
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1.2;
}
  .inte__l-title .inte--status {
	  margin-left: 1.0rem;
  }
  .inte__l-titleHelp {
    font-size: 1.4rem;
    color: var(--inte-G450);
    font-weight: var(--weight-normal);
    line-height: 1.6;
    margin: 0;
}
  .inte__r-Layout {
	flex-grow: 1;
	max-width: 60%;
  }
  /*LR layout End*/

  @media screen and (min-width:768px){
	  .inte-AnnouncementBar ~ .inte__Main .inte__l-Layout {
		top: 14.0rem;
	}
	.inte-AnnouncementBar ~ .inte__Main .inte-pageHeader--fixed ~ .inte-card .inte__l-Layout {
		top: 21rem;
	}
	.inte__Main .inte-pageHeader--fixed ~ .inte-card .inte__l-Layout {
		top: 16rem;
	}
  }
  @media screen and (min-width:769px){
	.inte__Main-Inner .inte__l-Layout {
		position: sticky;
		top: 8.5rem;
	}
  }

  @media screen and (max-width:768px){
	.inte__l-Layout {
		width: 100%;
		padding: 0;
		max-width: 100%;
		margin-bottom: 2.0rem;
	}
	.inte__r-Layout {
		width: 100%;
		max-width: 100%;
	}
	
  }
  @media screen and (max-width:640px){
	.inte__l-title {
	  font-size: 1.8rem;
	}
	.inte__l-titleHelp {
		font-size: 1.6rem;
		line-height: 2.2rem;
	  }
  }
