.inte--Avatar {
  position: relative;
}
.inte--Avatar .inte--Badgedot {
  position: absolute;
  bottom: 2px;
  right: 0;
  border: 0.1rem solid var(--inte-G0);
}
.inte--Avatar__Zoom {
  transition: 300ms all linear;
  cursor: pointer;
}
.inte--Avatar__Zoom:hover {
  transition: 300ms all linear;
  transform: scale(1.2);
}
