.inte__ToolTip {
  position: relative;
  display: inline-flex;
}
.inte__ToolTip-trigger {
  display: inline-flex;
}

.inte__ToolTip-bubble .inte__text {
  color: var(--inte-G10);
  font-size: 1.2rem;
}

.inte__ToolTip-bubble {
  max-width: 30rem;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: max-content;
}
.inte__ToolTip-message {
  max-width: 30rem;
  font-size: 1.2rem;
  padding: 0.9rem;
  border-radius: var(--radius-rounded-4);
}

.inte__ToolTip-bubble
  .inte__ToolTip-bottom
  tooltip-fade-enter
  tooltip-fade-enter-active
  .inte__ToolTip-message {
  border-radius: var(--radius-rounded-4);
  color: var(--inte-G10);
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 0.6rem 0.8rem;
  text-align: left;
  word-break: break-word;
}
.inte__ToolTip-dark .inte__ToolTip-message {
  background: var(--inte-G1000);
  color: var(--inte-G0);
}
.inte__ToolTip-light .inte__ToolTip-message {
  background: var(--inte-G0);
  color: var(--inte-G1000);
}

.inte__ToolTip-top {
  bottom: 100%;
  left: 50%;
  padding-bottom: 0.9rem;
  transform: translateX(-50%);
}

.inte__ToolTip-light .inte__ToolTip-message {
  color: var(--inte-G450);
}

.inte__ToolTip-bottom {
  top: 100%;
  left: 50%;
  padding-top: 0.9rem;
  transform: translateX(-50%);
}

.inte__Tooltip-bubble-Portal {
  padding-top: 0.9rem;
}

.inte__ToolTip-left {
  top: 50%;
  right: 100%;
  padding-right: 0.9rem;
  transform: translateY(-50%);
  justify-content: flex-end;
}

.inte__ToolTip-right {
  top: 50%;
  left: 100%;
  padding-left: 0.9rem;
  transform: translateY(-50%);
  justify-content: flex-start;
}

.inte__ToolTip-top,
.inte__ToolTip-bottom,
.inte__ToolTip-left,
.inte__ToolTip-right {
  -webkit-animation-name: tooltipTopBottom;
  animation-name: tooltipTopBottom;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transform-origin: left top;
}
.inte__ToolTip-left,
.inte__ToolTip-right {
  -webkit-animation-name: tooltipLeftRight;
  animation-name: tooltipLeftRight;
  transform-origin: right top;
}
.inte__ToolTip-right {
  transform-origin: left top;
}
/* ToolTip-pointer  css*/
.inte__ToolTip-bubble .inte__ToolTip-pointer {
  position: absolute;
}

.inte__ToolTip-bottom .inte__ToolTip-pointer {
  left: 50%;
  top: -2px;
  transform: rotate(90deg) translateX(-50%);
}
.inte__ToolTip-top .inte__ToolTip-pointer {
  bottom: -2px;
  left: 50%;
  transform: rotate(270deg) translateX(-50%);
}
.inte__ToolTip-left .inte__ToolTip-pointer {
  top: 50%;
  right: 3px;
  transform: rotateY(180deg) translateY(-50%);
}
.inte__ToolTip-right .inte__ToolTip-pointer {
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
}
@keyframes tooltipTopBottom {
  100% {
    -webkit-transform: scale(1, 1) translateX(-50%);
    transform: scale(1) translateX(-50%);
  }
  0% {
    -webkit-transform: scale(0.95, 0.95) translateX(-50%);
    transform: scale(0.95) translateX(-50%);
  }
}
@-webkit-keyframes tooltipTopBottom {
  100% {
    -webkit-transform: scale(1, 1) translateX(-50%);
    transform: scale(1) translateX(-50%);
  }
  0% {
    -webkit-transform: scale(0.95, 0.95) translateX(-50%);
    transform: scale(0.95) translateX(-50%);
  }
}

@keyframes tooltipLeftRight {
  100% {
    -webkit-transform: scale(1, 1) translateY(-50%);
    transform: scale(1) translateY(-50%);
  }
  0% {
    -webkit-transform: scale(0.95, 0.95) translateY(-50%);
    transform: scale(0.95) translateY(-50%);
  }
}
@-webkit-keyframes tooltipLeftRight {
  100% {
    -webkit-transform: scale(1, 1) translateY(-50%);
    transform: scale(1) translateY(-50%);
  }
  0% {
    -webkit-transform: scale(0.95, 0.95) translateY(-50%);
    transform: scale(0.95) translateY(-50%);
  }
}