.inte__Toggle--Wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}
.inte--Toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 2rem;
  width: 3.8rem;
  min-width: 3.8rem;
  border-radius: var(--radius-rounded-5);
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
  background-color: var(--inte-G90);
  overflow: hidden;
}
.inte__Toggle--Content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-start;
}
.inte__Toggle-Text {
  font-weight: var(--weight-normal);
  font-size: 1.6rem;
  color: var(--inte-G800);
  line-height: 2.2rem;
  position: relative;
}
.inte__Toggle--Required .inte__Toggle-Text:after {
  content: "*";
  position: absolute;
  right: -0.8rem;
  color: var(--inte-R200);
}
.inte__Toggle-Description {
  color: var(--inte-G300);
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.inte--Toggle:checked:hover{
  background: var(--inte-P1000);
}
.inte--Toggle:after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: var(--radius-rounded-4);
  background: var(--inte-G0);
  box-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.inte--Toggle:hover{
  background-color: var(--inte-G100);
}
.inte--Toggle:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--inte-G0), 0 0 0 0.3rem var(--inte-B80);
}
.inte--Toggle[disabled] {
  cursor: not-allowed;
  background: var(--inte-G40)!important;
}
.inte--Toggle:checked[disabled] {
  background: var(--inte-P40)!important;
}
.inte--Toggle[disabled]:after {
 box-shadow: unset!important;
}
.inte--Toggle:checked {
  background: var(--inte-P900);
}
.inte--Toggle:checked:after {
  background: var(--inte-P900);
  transform: translatex(1.8rem);
  background-color: var(--inte-G0);
  box-shadow: -0.5px 0.5px 8px rgba(0, 0, 0, 0.5);
}




