.inte--Switcher {
  position: relative;
  display: inline-block;
}
.inte--Switcher__Popover {
  position: absolute;
  width: 23rem;
  list-style: none;
  text-align: left;
  padding: 0.8rem;
  margin: 0;
  background-color: var(--inte-G0);
  top: calc(100% + 8px);
  right: 0;
  transition: 100ms all linear;
  border-radius: var(--radius-rounded-4);
  max-height: 280px;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  animation-name: ButtonDropdownAnimation;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transform-origin: top center;
}
.inte--Switcher__Popover.inte--Switcher__Popover--left {
  left: 0;
  right: unset;
}
.inte--Switcher__Popover.inte--Switcher__Popover--right {
  left: unset;
  right: 0;
}
.inte--Switcher li button {
  display: block;
  padding: 0.8rem;
  width: 100%;
  text-align: left;
  color: var(--inte-G450);
}
.inte--Switcher li button:hover {
  background-color: var(--inte-G30);
  color: var(--G800);
}
ul.inte-btn--Dropdown__Popover .inte-btn.inte-btn--hasIcon {
  justify-content: flex-start;
  align-items: center;
}
.inte--Switcher span.inte-btn__icon {
  transition: 200ms all linear;
}

.inte--Switcher li button span.inte__text {
  font-size: 1.4rem !important;
  display: block;
  margin-top: 0;
  line-height: 1.429;
}
@keyframes ButtonDropdownAnimation {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
  }
  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
  }
}

@-webkit-keyframes ButtonDropdownAnimation {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
  }
  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
  }
}
